{% comment %}
    Render each of the products that were added to the
    cart. It has actions to delete, add from the shopping cart.

    Accepts:
    - product: {Object} Product
    - options: {Array} Array of the product's options
    - variant: {String} Product variant
    - quantity: {Number} Quantity of the line item
    - price: {String} Original price
    - variant_id: {Number} Variant ID

    Usage:
    {% render 'cart-product', title: item.product.title %}
{% endcomment %}

<article class="cart-product js-cart-product" data-product-id="{{ product.id }}">
  <figure class="cart-product__image">
    {% if image %}
      <img class="cart-item__image"
        src="{{ image | img_url: '300x' }}"
        alt="{{ image.alt | escape }}"
        loading="lazy"
        width="150"
        height="{{ 150 | divided_by: image.aspect_ratio | ceil }}"
      >
    {% endif %}
  </figure>
  <div class="cart-product__details">
    <p class="cart-product__title">{{ product.title }}</p>
    <span>
      {%- if product.has_only_default_variant == false -%}
        {%- for option in options -%}
        <div class="product-option">
          <dt>{{ option.name }}: </dt>
          <dd>{{ option.value }}</dd>
        </div>
        {%- endfor -%}
      {%- endif -%}
    </span>
    <div
      class="cart-product__quantity"
    >
      <span>{{ 'products.product.quantity.label' | t }}</span>
      <div
        class="cart-product__quantity-controls"
        data-quantity="{{ quantity }}"
        data-variant-id="{{ variant_id }}"
        data-product-type="{{ product.type }}"
      >
        <button class="quantity__button no-js-hidden" name="minus" type="button">
          <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: product.title | escape }}</span>
          {% render 'icon-minus' %}
        </button>
        <span>{{ quantity }}</span>
        <button class="quantity__button no-js-hidden" name="plus" type="button">
          <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: product.title | escape }}</span>
          {% render 'icon-plus' %}
        </button>
      </div>
    </div>
  </div>
  <div class="cart-product__remove-container">

    <a href="{{ url_remove }}" class="button button--tertiary" aria-label="{{ 'sections.cart.remove_title' | t: title: title }}">
      {% render 'icon-remove' %}
    </a>
    
    <span class="price price--end">{{ price | money }}</span>
  </div>
</article>