{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'section-collection-list.css' | asset_url | stylesheet_tag }}
{{ 'section-main-product.css' | asset_url | stylesheet_tag }}
{{ 'products-grid.css' | asset_url | stylesheet_tag }}
{%- assign collection = collections[section.settings.collection] -%}
<div class="page-width">
  <h1>{{ section.settings.title | escape }}</h1>
  {%- assign product_form_id = 'product-form-' | append: section.id -%}
  <form action="/cart/add" method="post" enctype="multipart/form-data" class="product-form product-form-{{ section.id }}{% unless section.settings.show_variant_labels %} product-form--hide-variant-labels{% endunless %}" data-section="{{ section.id }}" name="MyForm">
  <input type="hidden" name="id" id="ProductId" />
  <input type="hidden" name="return_to" value="back" />
    <div class="shell">
      <div class="container">
        <div class="row">
          {% for product in collection.products %}
          {%- assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image -%}
          {% capture image_id %}{{ product.variants[forloop.index0].image.src }}-{{ forloop.index0 }}{% endcapture %}
          {% capture product_id %}{{ product.variants[forloop.index0].id }}{% endcapture %}
          <div class="col-md-3">
            <div class="wsk-cp-product">
              <div class="wsk-cp-img">
                  <img
                    src="{{ featured_image | img_url: 'master' }}"
                    width=300
                    height="auto"
                    loading="lazy" 
                    alt="Product" 
                    class="img-responsive"
                    id="{{ image_id }}"/>
              </div>
              <div class="wsk-cp-text" onclick="">
                <div class="title-product">
                  <h3>{{ product.title }}</h3>
                </div>
                <div class="description-prod">
                  <p>{{ product.description }}</p>
                </div>
                {%- for option in product.options_with_values -%}
                      <fieldset class="js product-form__input">
                        <legend class="form__label">{{ option.name }}</legend>
                        {%- for value in option.values -%}
                        {%- assign variant_label_state = true -%}


                        {%- unless product.variants[forloop.index0].available -%}
                          {%- assign variant_label_state = false -%}
                        {%- endunless -%}

                          <input type="radio" 
                                id="{{ section.id }}-{{ product.id }}-{{ option.position }}-{{ forloop.index0 }}"
                                name="MyRadios"
                                value="{{ value | escape }}"
                                form="{{ product_form_id }}"
                                variant-id="{{ product.variants[forloop.index0].id }}"
                                product-id="{{ product_id }}"
                                
                                {% if option.selected_value == value %} checked="checked"{% endif %}
                                {% unless variant_label_state %} disabled {% endunless %}
                          >
                          {% if product.variants[forloop.index0].metafields.color.values and option.name == 'Color' %}
                          <label 
                            for="{{ section.id }}-{{ product.id }}-{{ option.position }}-{{ forloop.index0 }}"
                            name="MyLabels" 
                            style="background-color: {{ product.variants[forloop.index0].metafields.color.values }}"
                            img-src = "{{ product.variants[forloop.index0].image.src }}"
                            img-id = "{{ image_id }}"
                            >
                          </label>
                          {% else %}
                          <label 
                          for="{{ section.id }}-{{ product.id }}-{{ option.position }}-{{ forloop.index0 }}"
                          name="MyLabels"
                          img-src = "{{ product.variants[forloop.index0].image.src }}"
                          img-id = "{{ image_id }}" 
                          >
                            {{ value }}
                          </label>
                          {% endif %} 
                        {%- endfor -%}
                      </fieldset>
                {%- endfor -%}
                <div class="card-footer">
                  <div class="wcf-left">
                    <span class="price">
                      {{ product.price | money | strip_html }}
                    </span>
                  </div>
                  <div class="wcf-right">
                    <input type="submit" id="MySubmit" value="Add to cart" class="button green invert big with-icon add_to_cart" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </form>
</div>

<script>
  document.addEventListener('DOMContentLoaded', (e) => {

    var rad = document.querySelectorAll("input[name='MyRadios']");
    for (var i = 0; i < rad.length; i++) {
      rad[i].addEventListener('change', function() {
        var id_var = rad[i].getAttribute('variant-id');
        document.getElementById('ProductId').value = id_var;
        });
    }
  
    var labl = document.querySelectorAll("label[name='MyLabels']");
    for (var i = 0; i < labl.length; i++) {
      labl[i].addEventListener('mouseup', function() {
        var img_src = '//cdn.shopify.com/s/files/1/0606/1722/8481/'+labl[i].getAttribute('img-src');
        var img_id  = labl[i].getAttribute('img-id');
        document.getElementById(img_id).src = img_src;
        });
    }
  
    const MySubmit = document.getElementById('MySubmit');
    MySubmit.addEventListener('click', function(e) {
      e.preventDefault();
      const CartBtn = document.getElementById('AddToCart');
      const Overlay  = document.getElementById('Overlay');
      const MiniCart = document.getElementById('MiniCart');
  
      MiniCart.classList.add('open');
      Overlay.classList.add('active');
    });
    
  });


  /*function ChangeProdBg(src, id){
    document.getElementById(id).src = '//cdn.shopify.com/s/files/1/0606/1722/8481/'+src;
  }
  
  function SelectId(id, productId){
    document.getElementById('ProductId').value = id;
  }
  
  function OpenUrl(url){
    window.open(url,'_self');
  }

  function OpenMiniCart(){
    const CartBtn = document.getElementById('AddToCart');
    const Overlay  = document.getElementById('Overlay');
    const MiniCart = document.getElementById('MiniCart');

    MiniCart.classList.add('open');
    Overlay.classList.add('active');
  }*/
</script>

{% schema %}
  {
    "name": "ProductsGrid",
    "class": "spaced-section",
    "settings": [
      {
        "id": "collection",
        "type": "collection",
        "label": "Choose a collection"
      },
      {
        "type": "range",
        "id": "units",
        "min": 1,
        "max": 10,
        "step": 1,
        "label": "Units",
        "default": 10
      }
    ]
  }
{% endschema %}
