<div class="side-cart__body-container{% if cart.item_count == 0 %} isEmpty{% endif %}">
  <div class="side-cart__body">
    <div
      class="side-cart__products-in-cart"
      data-cart-items="{{ cart.item_count }}"
      data-suggested-product-quantity="{{ section.settings.suggested_product_quantity }}"
      id="productsInCart"
    >
      {% if cart.item_count > 0 %}
        {% for item in cart.items %}
          {% if item.product.type != "false" %}
            {% render 'cart-product',
              product: item.product,
              options: item.options_with_values,
              variant: item.variant.title,
              quantity: item.quantity,
              price: item.original_price,
              variant_id: item.variant.id,
            %}
          {% endif %}
        {% endfor %}
      {% else %}
        <div class="empty-side-cart">
          <p class="empty-side-cart__title">
            {{ 'sections.cart.empty' | t }}
          </p>
          <figure class="empty-side-cart__image">
            <img
              src="{{ section.settings.image_of_empty_state.src | img_url: '410x' }}"
              srcset="{{ section.settings.image_of_empty_state.src | img_url: '410x' }} 1x, {{ section.settings.image_of_empty_state.src | img_url: '410x', scale: 2 }} 2x"
              alt="{{ section.settings.image_of_empty_state.alt }}"
              title="{{ section.settings.image_of_empty_state.alt }}"
              width="410"
              height="auto"
              loading="lazy"
            />
          </figure>
        </div>
      {% endif %} 
    </div>
  </div>
</div>

<div class="side-cart__footer">
  {% if cart.item_count > 0 %}
    <button
      class="side-cart__button"
      type="button"
      id="sideCartButton"
    >
      {{ 'sections.cart.checkout' | t }}{{ cart.total_price | money }}
    </button>
  {% endif %}
</div>

{% schema %}
  {
    "name": "Side cart",
    "settings": [
      {
        "type": "header",
        "content": "Cart"
      }
    ]
  }
{% endschema %}