<div class="side-cart__body-container{% if cart.item_count == 0 %} isEmpty{% endif %}">
  <div class="side-cart__body">
    <div
      class="side-cart__products-in-cart"
      data-cart-items="{{ cart.item_count }}"
      data-suggested-product-quantity="{{ section.settings.suggested_product_quantity }}"
      id="productsInCart"
    >
      {% if cart.item_count > 0 %}
        {% for item in cart.items %}
            {% render 'cart-product',
              product: item.product,
              image: item.image,
              url: item.url,
              url_remove: item.url_to_remove,
              index: item.index,
              title: item.title,
              options: item.options_with_values,
              variant: item.variant.title,
              quantity: item.quantity,
              price: item.original_price,
              variant_id: item.variant.id,
            %}
        {% endfor %}
      {% else %}
        <div class="empty-side-cart">
          <p class="empty-side-cart__title">
            {{ 'sections.cart.empty' | t }}
          </p>
          {% for item in cart.items %}
          <figure class="empty-side-cart__image">
            <img class="cart-item__image"
              src="{{ item.image | img_url: '300x' }}"
              alt="{{ item.image.alt | escape }}"
              loading="lazy"
              width="150"
              height="{{ 150 | divided_by: item.image.aspect_ratio | ceil }}"
            >
          </figure>
          {% endfor %}
        </div>
      {% endif %} 
    </div>
  </div>
</div>

<div class="side-cart__footer">
  {% if cart.item_count > 0 %}
    <button
      class="button green invert big with-icon add_to_cart"
      type="button"
      id="sideCartButton"
    >
      {{ 'sections.cart.checkout' | t }}{{ cart.total_price | money }}
    </button>
  {% endif %}
</div>

{% schema %}
  {
    "name": "Side cart",
    "settings": [
      {
        "type": "header",
        "content": "Cart"
      }
    ]
  }
{% endschema %}